.portfolio-and-team {
  width: 100%;
  padding: 3vw 0 0 3vw;
  position: relative;
}

.portfolio-and-team h2 {
  font-family: 'Stengazeta';
  font-size: 3.64vw;
  font-weight: 400;
  line-height: 3.12vw;
  text-align: left;
  color: rgba(255, 216, 190, 1);
  margin-bottom: 1vw;
}

.portfolio-and-team h3 {
  font-family: 'Stengazeta';
  font-size: 3.64vw;
  font-weight: 400;
  line-height: 3.12vw;
  text-align: left;
  color: rgba(255, 216, 190, 1);
  margin-top: 3vw;
}

.team-description {
  font-family: 'SFProText-Light';
  font-size: 1.56vw;
  font-weight: 400;
  line-height: 1.8vw;
  text-align: left;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 1);
}

.team-members {
  margin-bottom: 7vw;
}

.team-row {
  display: flex;
  gap: 5vw;
  margin-bottom: 4vw;
}

.team-row-bottom {
  margin-left: 15vw;
}

.team-member {
  width: 25.83vw;
  height: 27.03vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.team-image {
  width: 17.18vw;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5vw;
}

.team-name {
  font-family: 'Stengazeta';
  font-size: 2.08vw;
  font-weight: 400;
  color: rgba(255, 216, 190, 1);
}

.team-role {
  font-family: 'SFProText-Light';
  font-size: 1.56vw;
  font-weight: 300;
  margin: 0;
  line-height: 1.8vw;
  color: rgba(255, 255, 255, 1);
}

.portfolio-section {
  display: flex;
  margin-top: 2vw;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.portfolio-item {
  position: relative;
  text-align: center;
}

.portfolio-image {
  width: 45vw;
  height: 28.59vw;
  object-fit: cover;
  border-radius: 2.3vw;
}

.portfolio-caption {
  font-family: 'SFProText-Light';
  font-size: 1.56vw;
  font-weight: 400;
  width: 27.86vw;
  line-height: 2.5vw;
  border: 1px solid rgba(255, 216, 190, 1);
  border-radius: 2.55vw;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 216, 190, 1);
  -webkit-box-shadow: 0px 0px 50px 3px rgba(26, 26, 26, 0.48);
  box-shadow: 0px 0px 50px 3px rgba(26, 26, 26, 0.48);
  margin-top: 0.5vw;
  transform: translate(30%);
}
