@font-face {
  font-family: 'SFProText-Light';
  src: local('SFProText-Light'), url('/fonts/SFProText-Light.ttf') format('truetype');
}
.strategy-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 10vw;
  position: relative;
  gap: 14vw;
}

.strategy-image {
  position: relative;
  margin-right: 10vw;

}

.strategy-image-container {
  position: relative;
  width: 15.62vw;
}

.mayakovsky-image {
  position: relative;
  width: 22.92vw;
  height: 31.77vw;
  z-index: 2;
}

.circle-background {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-34.3%);
  width: 23.07vw;
  height: 22.86vw;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  z-index: 1;
}

.signature {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-41%);
  width: 33.85vw;
  height: 15.62vw;
  z-index: 1;
}

.strategy-text {
  color: rgba(255, 255, 255, 1);
}

.strategy-text p {
  font-family: 'SFProText-Light';
  font-size: 1.56vw;
  font-weight: 400;
  line-height: 2vw;
  text-align: left;
  margin-bottom: 5vw;
}

.strategy-button {
  font-family: 'SFProText-Light';
  font-size: 1.56vw;
  font-weight: 400;
  line-height: 2vw;
  text-align: left;
  background-color: rgba(255, 216, 190, 1);
  color: rgba(0, 0, 0, 1);
  border: none;
  padding: 0.5vw 1vw;
  border-radius: 2.3vw;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px 3px rgba(26, 26, 26, 0.48);
  box-shadow: 0px 0px 50px 3px rgba(26, 26, 26, 0.48);
  display: inline-flex;
  align-items: center;
  gap: 2.6vw;
  width: 29.16vw;
  height: 4.16vw;
  padding-left: 2.5vw;
}

.tg-icon {
  width: 3.28vw;
  aspect-ratio: 1;
  vertical-align: middle;
}